{% extends "base.html" %}

{% block title %}New Project | Infralign{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
<li class="breadcrumb-item"><a href="{% url 'projects' %}">Projects</a></li>
<li class="breadcrumb-item active" aria-current="page">...</li>
{% endblock %}

{% block content %}
<form class="form-group" action="" method="post">
    {% csrf_token %}
    <div class="form-floating mb-3">
        <input type="name" name="name" class="form-control" id="floatingInput" placeholder="name">
        <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating mb-4">
        <input type="org" name="org" class="form-control" id="floatingPassword" placeholder="Organisation">
        <label for="floatingPassword">Organisation</label>
    </div>
    <button class="btn btn-outline-primary" type="submit" for="form-group">Create</button>
</form>
{% endblock %}