{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    {% load sass_tags %}
    <link rel="stylesheet" type="text/css" href="{% sass_src 'css/custom_bootstrap.scss' %}">
    <link rel="stylesheet" href="{% sass_src 'css/base.css' %}">
</head>
<body>
    <div class="sidebar">
        <a class="logo">Infralign</a>
        <a>Home</a>
        <a>Projects</a>
        <a>Settings</a>
    </div>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>