{% extends "base.html" %}

{% block title %}Dashboard | Infralign{% endblock %}

{% block content %}
<form id='logout-form' action="{% url 'logout' %}" method="post">
    {% csrf_token %}
</form>
<header class="p-4">
    <h2>Welcome {{ username }}</h2>
    <button class="btn btn-primary">Button</button>
</header>
<button class="link logout" type="submit" form="logout-form" onclick="return confirm('Are you sure you want to logout?')">
    <span class="material-symbols-outlined">logout</span>
    <span>Logout</span>
</button>
{% endblock %}