{% extends "base.html" %}
{% load static %}

{% block title %}{{ project.name }} | Infralign{% endblock %}

{% block head %}<link rel="stylesheet" href="{% static 'css/project.css' %}">{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
<li class="breadcrumb-item"><a href="{% url 'projects' %}">Projects</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>
{% endblock %}

{% block content %}
<h3>{{ project.name }}</h3>
{% endblock %}