{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard | Infralign{% endblock %}

{% block head %}<link rel="stylesheet" href="{% static 'css/bulk_view.css' %}">{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
<li class="breadcrumb-item active" aria-current="page">Projects</li>
{% endblock %}

{% block content %}
<div class="head">
  <form class="search-bar">
    <input class="form-control" name="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit"><span class="material-symbols-outlined">search</span></button>
  </form>
  {% if perms.analytics.add_autodeskconstructioncloudproject %}
    <a href="{% url 'add_project' %}"><button class="add btn btn-outline-success" type="submit"><span class="material-symbols-outlined">add</span>New Project</button></a>
  {% endif %}
</div>
{% if projects_list %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Organisation</th>
      <th scope="col">Created</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects_list %}
    <tr class="item" onclick="window.location='/projects/{{project.pk}}';">
      <td>{{project.name}}</td>
      <td>{{project.org}}</td>
      <td>{{project.created_at}}</td>
      <td>
        {% if perms.analytics.delete_autodeskconstructioncloudproject %}
            <form id="form-{{project.pk}}" action="{% url 'delete_project' project_pk=project.pk %}" method="post">
                {% csrf_token %}
            </form>
            <button class="action btn btn-outline-primary" type="submit" form="form-{{project.pk}}" onclick="return confirm('Are you sure you want to delete {{project.name}}?')"><span class="material-symbols-outlined">delete</span></button>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No results.</p>
{% endif %}
{% endblock %}