.head {
    display: flex;
    margin-bottom: 10px;
}

.head .add {
    display: flex;
    align-items: center;
    justify-content: center;
}

.head .add span {
    margin-right: 10px;
}

.head a {
    text-decoration: none;
}

.search-bar {
    display: flex;
}

.search-bar input {
    width: 25rem;
    margin-right: 10px;
}

.search-bar button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.item {
    cursor: pointer;
}

.item button.action {
    display: flex;
    align-items: center;
    justify-content: center;
}